<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.shequ.core.mapper.FarmProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhang.shequ.core.entity.FarmProduct">
        <id column="id" property="id" />
        <result column="pictures" property="pictures" />
        <result column="title" property="title" />
        <result column="farm_id" property="farmId" />
        <result column="price" property="price" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
