<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.shequ.core.mapper.HouseOldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhang.shequ.core.entity.HouseOld">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="remarks" property="remarks" />
        <result column="pictures" property="pictures" />
        <result column="count_room" property="countRoom" />
        <result column="count_toilet" property="countToilet" />
        <result column="count_hall" property="countHall" />
        <result column="decoration" property="decoration" />
        <result column="price" property="price" />
        <result column="acreage" property="acreage" />
        <result column="build" property="build" />
        <result column="address" property="address" />
        <result column="linkphone" property="linkphone" />
        <result column="linkman" property="linkman" />
        <result column="linkqq" property="linkqq" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
