<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.shequ.core.mapper.LoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhang.shequ.core.entity.LoginLog">
        <id column="id" property="id" />
        <result column="logname" property="logname" />
        <result column="ip" property="ip" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
